<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.mwang.mockdata.mapper.CartInfoMapper">
  <resultMap id="BaseResultMap" type="online.mwang.mockdata.bean.CartInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="cart_price" jdbcType="DECIMAL" property="cartPrice" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="is_checked" jdbcType="INTEGER" property="isChecked" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="is_ordered" jdbcType="BIGINT" property="isOrdered" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, sku_id, cart_price, sku_num, img_url, sku_name, is_checked, create_time, 
    operate_time, is_ordered, order_time, source_type, source_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cart_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="online.mwang.mockdata.bean.CartInfo" useGeneratedKeys="true">
    insert into cart_info (user_id, sku_id, cart_price, 
      sku_num, img_url, sku_name, 
      is_checked, create_time, operate_time, 
      is_ordered, order_time, source_type, 
      source_id)
    values (#{userId,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{cartPrice,jdbcType=DECIMAL}, 
      #{skuNum,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, 
      #{isChecked,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{isOrdered,jdbcType=BIGINT}, #{orderTime,jdbcType=TIMESTAMP}, #{sourceType,jdbcType=VARCHAR}, 
      #{sourceId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="online.mwang.mockdata.bean.CartInfo" useGeneratedKeys="true">
    insert into cart_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="cartPrice != null">
        cart_price,
      </if>
      <if test="skuNum != null">
        sku_num,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="isChecked != null">
        is_checked,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="isOrdered != null">
        is_ordered,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="cartPrice != null">
        #{cartPrice,jdbcType=DECIMAL},
      </if>
      <if test="skuNum != null">
        #{skuNum,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="isChecked != null">
        #{isChecked,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isOrdered != null">
        #{isOrdered,jdbcType=BIGINT},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.mwang.mockdata.bean.CartInfo">
    update cart_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="cartPrice != null">
        cart_price = #{cartPrice,jdbcType=DECIMAL},
      </if>
      <if test="skuNum != null">
        sku_num = #{skuNum,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="isChecked != null">
        is_checked = #{isChecked,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isOrdered != null">
        is_ordered = #{isOrdered,jdbcType=BIGINT},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.mwang.mockdata.bean.CartInfo">
    update cart_info
    set user_id = #{userId,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      cart_price = #{cartPrice,jdbcType=DECIMAL},
      sku_num = #{skuNum,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      is_checked = #{isChecked,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      is_ordered = #{isOrdered,jdbcType=BIGINT},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      source_type = #{sourceType,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>