<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.mwang.mockdata.mapper.FavorInfoMapper">
  <resultMap id="BaseResultMap" type="online.mwang.mockdata.bean.FavorInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="is_cancel" jdbcType="VARCHAR" property="isCancel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, sku_id, spu_id, is_cancel, create_time, cancel_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favor_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from favor_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="online.mwang.mockdata.bean.FavorInfo" useGeneratedKeys="true">
    insert into favor_info (user_id, sku_id, spu_id, 
      is_cancel, create_time, cancel_time
      )
    values (#{userId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{spuId,jdbcType=BIGINT}, 
      #{isCancel,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="online.mwang.mockdata.bean.FavorInfo" useGeneratedKeys="true">
    insert into favor_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="isCancel != null">
        is_cancel,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="isCancel != null">
        #{isCancel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.mwang.mockdata.bean.FavorInfo">
    update favor_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="spuId != null">
        spu_id = #{spuId,jdbcType=BIGINT},
      </if>
      <if test="isCancel != null">
        is_cancel = #{isCancel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.mwang.mockdata.bean.FavorInfo">
    update favor_info
    set user_id = #{userId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      spu_id = #{spuId,jdbcType=BIGINT},
      is_cancel = #{isCancel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>