<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.mwang.mockdata.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="online.mwang.mockdata.bean.OrderInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="consignee_tel" jdbcType="VARCHAR" property="consigneeTel" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="payment_way" jdbcType="VARCHAR" property="paymentWay" />
    <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="order_comment" jdbcType="VARCHAR" property="orderComment" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="trade_body" jdbcType="VARCHAR" property="tradeBody" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="process_status" jdbcType="VARCHAR" property="processStatus" />
    <result column="tracking_no" jdbcType="VARCHAR" property="trackingNo" />
    <result column="parent_order_id" jdbcType="BIGINT" property="parentOrderId" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="activity_reduce_amount" jdbcType="DECIMAL" property="activityReduceAmount" />
    <result column="coupon_reduce_amount" jdbcType="DECIMAL" property="couponReduceAmount" />
    <result column="original_total_amount" jdbcType="DECIMAL" property="originalTotalAmount" />
    <result column="feight_fee" jdbcType="DECIMAL" property="feightFee" />
    <result column="feight_fee_reduce" jdbcType="DECIMAL" property="feightFeeReduce" />
    <result column="refundable_time" jdbcType="TIMESTAMP" property="refundableTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, consignee, consignee_tel, total_amount, order_status, user_id, payment_way, delivery_address, 
    order_comment, out_trade_no, trade_body, create_time, operate_time, expire_time, 
    process_status, tracking_no, parent_order_id, img_url, province_id, activity_reduce_amount, 
    coupon_reduce_amount, original_total_amount, feight_fee, feight_fee_reduce, refundable_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="online.mwang.mockdata.bean.OrderInfo" useGeneratedKeys="true">
    insert into order_info (consignee, consignee_tel, total_amount, 
      order_status, user_id, payment_way, 
      delivery_address, order_comment, out_trade_no, 
      trade_body, create_time, operate_time, 
      expire_time, process_status, tracking_no, 
      parent_order_id, img_url, province_id, 
      activity_reduce_amount, coupon_reduce_amount, 
      original_total_amount, feight_fee, feight_fee_reduce, 
      refundable_time)
    values (#{consignee,jdbcType=VARCHAR}, #{consigneeTel,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, 
      #{orderStatus,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{paymentWay,jdbcType=VARCHAR}, 
      #{deliveryAddress,jdbcType=VARCHAR}, #{orderComment,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, 
      #{tradeBody,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{processStatus,jdbcType=VARCHAR}, #{trackingNo,jdbcType=VARCHAR}, 
      #{parentOrderId,jdbcType=BIGINT}, #{imgUrl,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, 
      #{activityReduceAmount,jdbcType=DECIMAL}, #{couponReduceAmount,jdbcType=DECIMAL}, 
      #{originalTotalAmount,jdbcType=DECIMAL}, #{feightFee,jdbcType=DECIMAL}, #{feightFeeReduce,jdbcType=DECIMAL}, 
      #{refundableTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="online.mwang.mockdata.bean.OrderInfo" useGeneratedKeys="true">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="consignee != null">
        consignee,
      </if>
      <if test="consigneeTel != null">
        consignee_tel,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="paymentWay != null">
        payment_way,
      </if>
      <if test="deliveryAddress != null">
        delivery_address,
      </if>
      <if test="orderComment != null">
        order_comment,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="tradeBody != null">
        trade_body,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="processStatus != null">
        process_status,
      </if>
      <if test="trackingNo != null">
        tracking_no,
      </if>
      <if test="parentOrderId != null">
        parent_order_id,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="activityReduceAmount != null">
        activity_reduce_amount,
      </if>
      <if test="couponReduceAmount != null">
        coupon_reduce_amount,
      </if>
      <if test="originalTotalAmount != null">
        original_total_amount,
      </if>
      <if test="feightFee != null">
        feight_fee,
      </if>
      <if test="feightFeeReduce != null">
        feight_fee_reduce,
      </if>
      <if test="refundableTime != null">
        refundable_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="consignee != null">
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="consigneeTel != null">
        #{consigneeTel,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="paymentWay != null">
        #{paymentWay,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderComment != null">
        #{orderComment,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeBody != null">
        #{tradeBody,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processStatus != null">
        #{processStatus,jdbcType=VARCHAR},
      </if>
      <if test="trackingNo != null">
        #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="parentOrderId != null">
        #{parentOrderId,jdbcType=BIGINT},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="activityReduceAmount != null">
        #{activityReduceAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponReduceAmount != null">
        #{couponReduceAmount,jdbcType=DECIMAL},
      </if>
      <if test="originalTotalAmount != null">
        #{originalTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="feightFee != null">
        #{feightFee,jdbcType=DECIMAL},
      </if>
      <if test="feightFeeReduce != null">
        #{feightFeeReduce,jdbcType=DECIMAL},
      </if>
      <if test="refundableTime != null">
        #{refundableTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.mwang.mockdata.bean.OrderInfo">
    update order_info
    <set>
      <if test="consignee != null">
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="consigneeTel != null">
        consignee_tel = #{consigneeTel,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="paymentWay != null">
        payment_way = #{paymentWay,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderComment != null">
        order_comment = #{orderComment,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeBody != null">
        trade_body = #{tradeBody,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processStatus != null">
        process_status = #{processStatus,jdbcType=VARCHAR},
      </if>
      <if test="trackingNo != null">
        tracking_no = #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="parentOrderId != null">
        parent_order_id = #{parentOrderId,jdbcType=BIGINT},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="activityReduceAmount != null">
        activity_reduce_amount = #{activityReduceAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponReduceAmount != null">
        coupon_reduce_amount = #{couponReduceAmount,jdbcType=DECIMAL},
      </if>
      <if test="originalTotalAmount != null">
        original_total_amount = #{originalTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="feightFee != null">
        feight_fee = #{feightFee,jdbcType=DECIMAL},
      </if>
      <if test="feightFeeReduce != null">
        feight_fee_reduce = #{feightFeeReduce,jdbcType=DECIMAL},
      </if>
      <if test="refundableTime != null">
        refundable_time = #{refundableTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.mwang.mockdata.bean.OrderInfo">
    update order_info
    set consignee = #{consignee,jdbcType=VARCHAR},
      consignee_tel = #{consigneeTel,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      payment_way = #{paymentWay,jdbcType=VARCHAR},
      delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      order_comment = #{orderComment,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      trade_body = #{tradeBody,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      process_status = #{processStatus,jdbcType=VARCHAR},
      tracking_no = #{trackingNo,jdbcType=VARCHAR},
      parent_order_id = #{parentOrderId,jdbcType=BIGINT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      activity_reduce_amount = #{activityReduceAmount,jdbcType=DECIMAL},
      coupon_reduce_amount = #{couponReduceAmount,jdbcType=DECIMAL},
      original_total_amount = #{originalTotalAmount,jdbcType=DECIMAL},
      feight_fee = #{feightFee,jdbcType=DECIMAL},
      feight_fee_reduce = #{feightFeeReduce,jdbcType=DECIMAL},
      refundable_time = #{refundableTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>