<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.mwang.mockdata.mapper.OrderDetailActivityMapper">
  <resultMap id="BaseResultMap" type="online.mwang.mockdata.bean.OrderDetailActivity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_detail_id" jdbcType="BIGINT" property="orderDetailId" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="activity_rule_id" jdbcType="BIGINT" property="activityRuleId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, order_detail_id, activity_id, activity_rule_id, sku_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_detail_activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_detail_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="online.mwang.mockdata.bean.OrderDetailActivity" useGeneratedKeys="true">
    insert into order_detail_activity (order_id, order_detail_id, activity_id, 
      activity_rule_id, sku_id, create_time
      )
    values (#{orderId,jdbcType=BIGINT}, #{orderDetailId,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, 
      #{activityRuleId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="online.mwang.mockdata.bean.OrderDetailActivity" useGeneratedKeys="true">
    insert into order_detail_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderDetailId != null">
        order_detail_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="activityRuleId != null">
        activity_rule_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailId != null">
        #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityRuleId != null">
        #{activityRuleId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.mwang.mockdata.bean.OrderDetailActivity">
    update order_detail_activity
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailId != null">
        order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityRuleId != null">
        activity_rule_id = #{activityRuleId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.mwang.mockdata.bean.OrderDetailActivity">
    update order_detail_activity
    set order_id = #{orderId,jdbcType=BIGINT},
      order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      activity_id = #{activityId,jdbcType=BIGINT},
      activity_rule_id = #{activityRuleId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>